*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  background: linear-gradient(45deg, #dbc30e, #a81260, #900c3f) ;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.logo{
  height: 50px;
  margin: auto;
  align-items: center;
  margin-top: 40px;
}

.count-container{
  background-color: #fff;
  min-width: 70vh;
  height: 30rem;
  border-radius: 15px;
  opacity: 0.6;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.two{
  display: flex;
  justify-content: center;
}